<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../assets/imgs/Carrousel1.JPG" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/imgs/Carrousel1.JPG" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/imgs/Carrousel1.JPG" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
<div class="container-fluid border">
    <div class="row  justify-content-center border">
        <div class="col m-2  border">
            <img src="../../assets/imgs/home_ban1.jpg" width="100%" alt="">
        </div>
        <div class="col m-2 text-center border">
            <img src="../../assets/imgs/home_ban2.jpg" width="100%" alt="">
        </div>
        <div class="col m-2  text-center border">
            <img src="../../assets/imgs/home_ban3.jpg" width="100%" alt="">
        </div>
    </div>
</div>
<h1 class=" text-center m-5">ELIGE POR CATEGORIA</h1>






<!-- SECCION DE CATEGORIA -->


<div class="container-fluid ">   
    <div class="row justify-content-center " >
        <div class="col-3 text-center  " *ngFor="let categoria of categorias">
          
          <div [routerLink]="['/items', categoria.categoria]"> 
            <div class="row  ">
              <div class="col  p-0 m-2 shadow">
                <img class="categoriaImagen" width="100%" src="{{categoria.imagenTipo}},{{categoria.imagen}}" />
              </div>
            </div>
            <div class="row  ">
                  <div class="col text-center">
                    <h2>  {{categoria.categoria}} </h2>
                  </div>
            </div>
          </div>
        </div>
    </div>
</div>

<!-- OFERTA DE LA SEMANA -->
<div class="container-fluid border">
  <div class="row  justify-content-center border">
      <div class="col m-2  border">
          <img src="../../assets/imgs/ofertas de la semana.jpeg" width="100%" alt="">
      </div>
      
  </div>
</div>

</body>

<!-- PIE DE PAGINA-->

<footer>

  <section class="row">

    <div id="socialIcons" class="col-sm-12 col-md-3 text-center voffset7 border"> 
      <div id="appIcons" class="borderBtm">
        <span class="voffset3 antiVoffset3">Descarga la APP :</span>
        <div class="d-flex justify-content-around align-items-center mt-4 ">
          <a href="" title="App de Lurina moda online para Android" target="_blank">
              <img src="../../assets/imgs/app_android.svg" alt="Icono Android" width="32" height="32" class="lazy loading" data-was-processed="true">
              <span class="FS12 pl-10">Android</span>
          </a>
          <a href="" title="App de Lurina moda online para iOs" target="_blank" data-track-event="{&quot;listenTo&quot;:&quot;click&quot;,&quot;category&quot;:&quot;footer&quot;,&quot;action&quot;:&quot;app&quot;,&quot;label&quot;:&quot;IOS&quot;,&quot;nonInteraction&quot;:false,&quot;typeGtm&quot;:null}">
              <img src="../../assets/imgs/app_apple.svg" alt="Icono iOS" width="32" height="32" class="lazy loading" data-was-processed="true">
              <span class="FS12 pl-10">iOS</span>
          </a>
        </div>
      </div>
    
      <div class="mt-tl-20 antiVoffset20 borderBtm">
        <span class="voffset3 antiVoffset3">Síguenos:</span>
        <div class="d-flex justify-content-around">
                <a class="block" href="" title="Facebook de Venca" target="_blank" data-track-event="{&quot;listenTo&quot;:&quot;click&quot;,&quot;category&quot;:&quot;footer&quot;,&quot;action&quot;:&quot;siguenos&quot;,&quot;label&quot;:&quot;facebook&quot;,&quot;nonInteraction&quot;:false,&quot;typeGtm&quot;:null}">
                    <img src="../../assets/imgs/rrss_facebook.svg" width="32" height="32" class="lazy loading" data-was-processed="true">
                </a>
                <a class="block" href="" title="Twitter de Venca" target="_blank" data-track-event="{&quot;listenTo&quot;:&quot;click&quot;,&quot;category&quot;:&quot;footer&quot;,&quot;action&quot;:&quot;siguenos&quot;,&quot;label&quot;:&quot;twitter&quot;,&quot;nonInteraction&quot;:false,&quot;typeGtm&quot;:null}">
                    <img src="../../assets/imgs/rrss_twitter.svg" width="32" height="32" class="lazy loading" data-was-processed="true">
                </a>
                <a class="block" href="" title="Instagram de Venca" target="_blank" data-track-event="{&quot;listenTo&quot;:&quot;click&quot;,&quot;category&quot;:&quot;footer&quot;,&quot;action&quot;:&quot;siguenos&quot;,&quot;label&quot;:&quot;instagram&quot;,&quot;nonInteraction&quot;:false,&quot;typeGtm&quot;:null}">
                    <img src="../../assets/imgs/rrss_instagram.svg" width="32" height="32" class="lazy loading" data-was-processed="true">
                </a>
                <a class="block" href="" title="Pinterest de Venca" target="_blank" data-track-event="{&quot;listenTo&quot;:&quot;click&quot;,&quot;category&quot;:&quot;footer&quot;,&quot;action&quot;:&quot;siguenos&quot;,&quot;label&quot;:&quot;pinterest&quot;,&quot;nonInteraction&quot;:false,&quot;typeGtm&quot;:null}">
                    <img src="../../assets/imgs/rrss_pinterest.svg" width="32" height="32" class="lazy loading" data-was-processed="true">
                </a>
                <a class="block" href="" title="Youtube de Venca" target="_blank" data-track-event="{&quot;listenTo&quot;:&quot;click&quot;,&quot;category&quot;:&quot;footer&quot;,&quot;action&quot;:&quot;siguenos&quot;,&quot;label&quot;:&quot;youtube&quot;,&quot;nonInteraction&quot;:false,&quot;typeGtm&quot;:null}">
                    <img src="../../assets/imgs/rrss_youtube.svg" width="32" height="32" class="lazy loading" data-was-processed="true">
                </a>
                <a class="block" href="" target="_blank" data-track-event="{&quot;listenTo&quot;:&quot;click&quot;,&quot;category&quot;:&quot;footer&quot;,&quot;action&quot;:&quot;siguenos&quot;,&quot;label&quot;:&quot;blog&quot;,&quot;nonInteraction&quot;:false,&quot;typeGtm&quot;:null}" rel="nofollow">
                    <img src="../../assets/imgs/rrss_blog.svg" width="32" height="32" class="lazy loading" data-was-processed="true">
                </a>
        </div>              
      </div>
    
      <span id="ekomiFooter">
        <a href="" title="Opiniones de clientes de Lurina" target="_blank">
            <span>Opiniones de clientes </span>
                <img src="../../assets/imgs/star.svg" width="20" height="20" class="baseline lazy loading" data-was-processed="true">
                <img src="../../assets/imgs/star.svg" width="20" height="20" class="baseline lazy loading" data-was-processed="true">
                <img src="../../assets/imgs/star.svg" width="20" height="20" class="baseline lazy loading" data-was-processed="true">
                <img src="../../assets/imgs/star.svg" width="20" height="20" class="baseline lazy loading" data-was-processed="true">
                <img src="../../assets/imgs/star-o.svg" width="20" height="20" class="baseline lazy loading" data-was-processed="true">
    
            <span><strong> 8,5/10</strong> Calculado sobre 12092 valoraciones eKomi</span>
        </a>
    </span>





    
    </div>

    <div class="col-sm-12 col-md-9 greyPanel antiVoffset5">
      <div class="row">
        <div class="col-sm-12">
            <img src="../../assets/imgs//envelope.svg" width="28" height="28" class="text-bottom lazy loading" data-was-processed="true">
            <strong class="text-uppercase block-subTitle pl-05"> newsletter </strong>
            <span class="FS20 thin mgLeft15">Suscríbete y llévate <span class="bold Lurinacolor text-uppercase">10€ de regalo + gastos de envío gratis</span></span>


            <span class="block thin voffset3">Recibirás regularmente<strong> descuentos exclusivos, promociones</strong> y las últimas <strong>novedades y tendencias.</strong></span>
            <span class="block thin">En cualquier momento podrás darte de baja o modificar la frecuencia de envío de la newsletter.</span>
        </div>

        <form action="/newsletter" data-ob-directive="Shared.SubmitOnEnterDirective" method="post">                    
          <div class="col-sm-12 voffset3">
                <div class="pull-left col-sm-8 row">
                    <input class="form-control input-md" id="Email" name="Email" placeholder="Introduce tu e-mail" type="text" value="" style="height: 40px;">
                </div>
                <div class="pull-left">
                    <button class="btn dark" type="submit">
                        <span class="block-infraTitle">Suscribirme</span>
                    </button>
                </div>
          </div>
            <div class="col-sm-12 antiMount newFooter">
                <label for="acceptConditions-visualcheck" class="noPaddings voffset4" data-uitest="acceptConditions">
                  <input data-val="true" data-val-required="" id="AcceptConditionsMV_PoliticalAuthorizationSite" name="AcceptConditionsMV.PoliticalAuthorizationSite" type="hidden" value="False">
                  <input class="custom-radio-checkbox__input" id="acceptConditions-visualcheck" name="acceptConditions-visualcheck" type="checkbox" data-linked-to="AcceptConditionsMV_PoliticalAuthorizationSite">
                  <span class="custom-30 ml-0">
                    <span class="custom-radio-checkbox__show custom-radio-checkbox__show--checkbox ml-0"></span>
                  </span>
                  <span class="optinNewsletter pt-05">He leído y acepto las <span class="bold ml-0" data-ob-directive="Shared.OpenLinkDirective" data-ob-params="{&quot;target&quot;:&quot;1776107A167F796B552641244743250E364A232F3007324D215D4F2A4D63147B&amp;1533399&quot;}" rel="nofollow">condiciones de uso.</span></span>
                </label>

                  <label for="acceptConditionsLOPD-visualcheck" class="noPaddings voffset10">
                    <input id="AcceptConditionsMV_LOPDAuthorization" name="AcceptConditionsMV.LOPDAuthorization" type="hidden" value="">
                    <input class="custom-radio-checkbox__input" id="acceptConditionsLOPD-visualcheck" name="acceptConditionsLOPD-visualcheck" type="checkbox" data-linked-to="AcceptConditionsMV_LOPDAuthorization">
                    <span class="custom-30 ml-0">
                      <span class="custom-radio-checkbox__show custom-radio-checkbox__show--checkbox ml-0"></span>
                    </span>
                    <span class="optinNewsletter LH13 text-justify pt-03 pr-30">Acepto que Lurina me envíe comunicaciones comerciales vía correo electrónico sobre productos y servicios de <span class="bold ml-0" data-ob-directive="Shared.OpenLinkDirective" data-ob-params="{&quot;target&quot;:&quot;1273147C177E776B552641244743250E364A232F3007324D215D4F2A4D63177E&amp;4075287&quot;}" rel="nofollow">terceras empresas colaboradoras</span> pertenecientes a los sectores de actividad especificados en la política de privacidad.</span>
                  </label>

                  <div class="col-sm-12 error redColor pdl20 antiVoffset3" id="acceptConditionsError">
                    <span class="field-validation-valid field-validation-valid FS12" data-valmsg-for="AcceptConditionsMV.PoliticalAuthorizationSite" data-valmsg-replace="true"></span>
                  </div>

                 
            </div>
        </form>                

        <div class="col-sm-12">  
          <div class="pr-30">
            <p class="thin text-justify voffset20">
              <span class="bold text-uppercase cDefault">Información sobre el tratamiento de sus datos personales.</span>
              El <span class="bold cDefault">responsable</span> del tratamiento es <span class="text-uppercase cDefault">Digital Lola Commerce, S.A.U.(Lurina)</span>.
              La <span class="bold cDefault">finalidad</span> del tratamiento es remitirle comunicaciones comerciales propias y, con su consentimiento, de
              <a href="" class="bold">terceras empresas colaboradoras</a> de los sectores de actividad incluidos en nuestra política de privacidad.
              Si usted aceptó la instalacion de <a href="" class="bold">cookies publicitarias</a>, unicamente recibira publicidad personalizada de acuerdo con su perfil.
              Puede ejerecer sus <span class="bold cDefault">derechos</span> en materia de protección de datos contactando con nosostros.
              Para mas información acceda a la <a href="" class="bold">política de privacidad.</a>
              <span class="hide">/ <a class="bold textDeco" href="">Ver Bases</a> del sorteo de 500€ en looks de Lurina.</span>
            </p>
          </div>
        </div>
      </div>
    </div>

    

  </section>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <!-- <section class="row">
    
    <div id="socialIcons" class="col-sm-12 col-md-3 text-center voffset7">
        
        <div id="appIcons" class="borderBtm">
            <span class="block antiVoffset3">Descarga la APP :</span>
            <div class="dflex justify-content-around align-items-center mt-4">
                    <a href="" title="App de Lurina moda online para Android" target="_blank" data-track-event="{&quot;listenTo&quot;:&quot;click&quot;,&quot;category&quot;:&quot;footer&quot;,&quot;action&quot;:&quot;app&quot;,&quot;label&quot;:&quot;android&quot;,&quot;nonInteraction&quot;:false,&quot;typeGtm&quot;:null}">
                        <img src="../../assets/imgs/app_android.svg" alt="Icono Android" width="32" height="32" class="lazy loading" data-was-processed="true">
                        <span class="FS12 pl-10">Android</span>
                    </a>
                    <a href="" title="App de Venca moda online para iOs" target="_blank" data-track-event="{&quot;listenTo&quot;:&quot;click&quot;,&quot;category&quot;:&quot;footer&quot;,&quot;action&quot;:&quot;app&quot;,&quot;label&quot;:&quot;IOS&quot;,&quot;nonInteraction&quot;:false,&quot;typeGtm&quot;:null}">
                        <img src="../../assets/imgs/app_apple.svg" alt="Icono iOS" width="32" height="32" class="lazy loading" data-was-processed="true">
                        <span class="FS12 pl-10">iOS</span>
                    </a>
            </div>
        </div>

        <div class="mt-tl-20 antiVoffset20 borderBtm">
            <span class="block voffset3 antiVoffset3 hidden-md">Síguenos:</span>
            <div class="dflex justify-content-around">
                    <a class="block" href="" title="Facebook de Venca" target="_blank" data-track-event="{&quot;listenTo&quot;:&quot;click&quot;,&quot;category&quot;:&quot;footer&quot;,&quot;action&quot;:&quot;siguenos&quot;,&quot;label&quot;:&quot;facebook&quot;,&quot;nonInteraction&quot;:false,&quot;typeGtm&quot;:null}">
                        <img src="../../assets/imgs/rrss_facebook.svg" width="32" height="32" class="lazy loading" data-was-processed="true">
                    </a>
                    <a class="block" href="" title="Twitter de Venca" target="_blank" data-track-event="{&quot;listenTo&quot;:&quot;click&quot;,&quot;category&quot;:&quot;footer&quot;,&quot;action&quot;:&quot;siguenos&quot;,&quot;label&quot;:&quot;twitter&quot;,&quot;nonInteraction&quot;:false,&quot;typeGtm&quot;:null}">
                        <img src="../../assets/imgs/rrss_twitter.svg" width="32" height="32" class="lazy loading" data-was-processed="true">
                    </a>
                    <a class="block" href="" title="Instagram de Venca" target="_blank" data-track-event="{&quot;listenTo&quot;:&quot;click&quot;,&quot;category&quot;:&quot;footer&quot;,&quot;action&quot;:&quot;siguenos&quot;,&quot;label&quot;:&quot;instagram&quot;,&quot;nonInteraction&quot;:false,&quot;typeGtm&quot;:null}">
                        <img src="../../assets/imgs/rrss_instagram.svg" width="32" height="32" class="lazy loading" data-was-processed="true">
                    </a>
                    <a class="block" href="" title="Pinterest de Venca" target="_blank" data-track-event="{&quot;listenTo&quot;:&quot;click&quot;,&quot;category&quot;:&quot;footer&quot;,&quot;action&quot;:&quot;siguenos&quot;,&quot;label&quot;:&quot;pinterest&quot;,&quot;nonInteraction&quot;:false,&quot;typeGtm&quot;:null}">
                        <img src="../../assets/imgs/rrss_pinterest.svg" width="32" height="32" class="lazy loading" data-was-processed="true">
                    </a>
                    <a class="block" href="" title="Youtube de Venca" target="_blank" data-track-event="{&quot;listenTo&quot;:&quot;click&quot;,&quot;category&quot;:&quot;footer&quot;,&quot;action&quot;:&quot;siguenos&quot;,&quot;label&quot;:&quot;youtube&quot;,&quot;nonInteraction&quot;:false,&quot;typeGtm&quot;:null}">
                        <img src="../../assets/imgs/rrss_youtube.svg" width="32" height="32" class="lazy loading" data-was-processed="true">
                    </a>
                    <a class="block" href="" target="_blank" data-track-event="{&quot;listenTo&quot;:&quot;click&quot;,&quot;category&quot;:&quot;footer&quot;,&quot;action&quot;:&quot;siguenos&quot;,&quot;label&quot;:&quot;blog&quot;,&quot;nonInteraction&quot;:false,&quot;typeGtm&quot;:null}" rel="nofollow">
                        <img src="../../assets/imgs/rrss_blog.svg" width="32" height="32" class="lazy loading" data-was-processed="true">
                    </a>
            </div>              
        </div>

        <div>
            

<span id="ekomiFooter">
    <a href="" title="Opiniones de clientes de Venca" target="_blank" data-track-event="{&quot;listenTo&quot;:&quot;click&quot;,&quot;category&quot;:&quot;footer&quot;,&quot;action&quot;:&quot;ekomi&quot;,&quot;label&quot;:null,&quot;nonInteraction&quot;:false,&quot;typeGtm&quot;:null}">
        <span>Opiniones de clientes</span>
            <img src="../../assets/imgs/star.svg" width="12" height="12" class="baseline lazy loading" data-was-processed="true">
            <img src="../../assets/imgs/star.svg" width="12" height="12" class="baseline lazy loading" data-was-processed="true">
            <img src="../../assets/imgs/star.svg" width="12" height="12" class="baseline lazy loading" data-was-processed="true">
            <img src="../../assets/imgs/star.svg" width="12" height="12" class="baseline lazy loading" data-was-processed="true">
            <img src="../../assets/imgs/star-o.svg" width="12" height="12" class="baseline lazy loading" data-was-processed="true">

        <span><strong>8,5/10</strong> Calculado sobre 12092 valoraciones eKomi</span>
    </a>
</span>




        </div>
    </div>
    
    <div class="col-sm-12 col-md-9 greyPanel pl-20 antiVoffset5">
        <div class="row">
            <div class="col-sm-12">
                <img src="../../assets/imgs//envelope.svg" width="28" height="28" class="text-bottom lazy loading" data-was-processed="true">
                <strong class="text-uppercase block-subTitle pl-05"> newsletter</strong>
                <span class="FS20 thin mgLeft15">Suscríbete y llévate <span class="bold vencaColor text-uppercase">10€ de regalo + gastos de envío gratis</span></span>


                <span class="block thin voffset3">Recibirás regularmente<strong> descuentos exclusivos, promociones</strong> y las últimas <strong>novedades y tendencias.</strong></span>
                <span class="block thin">En cualquier momento podrás darte de baja o modificar la frecuencia de envío de la newsletter.</span>
            </div>

<form action="/newsletter" data-ob-directive="Shared.SubmitOnEnterDirective" method="post">                    <div class="col-sm-12 voffset3">
                    <div class="pull-left col-sm-8 row">
                        <input class="form-control input-md" id="Email" name="Email" placeholder="Introduce tu e-mail" type="text" value="" style="height: 40px;">
                    </div>
                    <div class="pull-left">
                        <button class="btn dark" type="submit">
                            <span class="block-infraTitle">Suscribirme</span>
                        </button>
                    </div>
                </div>
                <div class="col-sm-12 antiMount newFooter">
                    


<label for="acceptConditions-visualcheck" class="noPaddings voffset4" data-uitest="acceptConditions">
<input data-val="true" data-val-required="" id="AcceptConditionsMV_PoliticalAuthorizationSite" name="AcceptConditionsMV.PoliticalAuthorizationSite" type="hidden" value="False">
<input class="custom-radio-checkbox__input" id="acceptConditions-visualcheck" name="acceptConditions-visualcheck" type="checkbox" data-linked-to="AcceptConditionsMV_PoliticalAuthorizationSite">
<span class="custom-30 ml-0">
    <span class="custom-radio-checkbox__show custom-radio-checkbox__show--checkbox ml-0"></span>
</span>
<span class="optinNewsletter pt-05">He leído y acepto las <span class="bold ml-0" data-ob-directive="Shared.OpenLinkDirective" data-ob-params="{&quot;target&quot;:&quot;1776107A167F796B552641244743250E364A232F3007324D215D4F2A4D63147B&amp;1533399&quot;}" rel="nofollow">condiciones de uso.</span></span>
</label>

<label for="acceptConditionsLOPD-visualcheck" class="noPaddings voffset10">
<input id="AcceptConditionsMV_LOPDAuthorization" name="AcceptConditionsMV.LOPDAuthorization" type="hidden" value="">
<input class="custom-radio-checkbox__input" id="acceptConditionsLOPD-visualcheck" name="acceptConditionsLOPD-visualcheck" type="checkbox" data-linked-to="AcceptConditionsMV_LOPDAuthorization">
<span class="custom-30 ml-0">
    <span class="custom-radio-checkbox__show custom-radio-checkbox__show--checkbox ml-0"></span>
</span>
<span class="optinNewsletter LH13 text-justify pt-03 pr-30">Acepto que Venca me envíe comunicaciones comerciales vía correo electrónico sobre productos y servicios de <span class="bold ml-0" data-ob-directive="Shared.OpenLinkDirective" data-ob-params="{&quot;target&quot;:&quot;1273147C177E776B552641244743250E364A232F3007324D215D4F2A4D63177E&amp;4075287&quot;}" rel="nofollow">terceras empresas colaboradoras</span> pertenecientes a los sectores de actividad especificados en la política de privacidad.</span>
</label>

<div class="col-sm-12 error redColor pdl20 antiVoffset3" id="acceptConditionsError">
<span class="field-validation-valid field-validation-valid FS12" data-valmsg-for="AcceptConditionsMV.PoliticalAuthorizationSite" data-valmsg-replace="true"></span>
</div>

<style>.newFooter input[type=checkbox]+:before{content:""}#subscribe input[type=checkbox]+:before{content:""}#newsletterPartial input[type=checkbox]+:before{content:""}.custom-radio-checkbox{display:flex!important;font-family:sans-serif}.custom-radio-checkbox__show--checkbox{background-image:url(/Content/images/Icons/Generics/square.svg)}.custom-radio-checkbox__show{width:20px;height:20px;margin-right:.75rem;background-size:cover}.custom-radio-checkbox__input:checked+span.custom-30>.custom-radio-checkbox__show--checkbox{background-image:url(/Content/images/Icons/Generics/checkbox.svg)}.custom-30{width:30px}</style>
                </div>
</form>                <div class="col-sm-12">
                

<div class="pr-30">
<p class="thin text-justify voffset20">
    <span class="bold text-uppercase cDefault">Información sobre el tratamiento de sus datos personales.</span>
    El <span class="bold cDefault">responsable</span> del tratamiento es <span class="text-uppercase cDefault">Digital Lola Commerce, S.A.U.(Venca)</span>.
    La <span class="bold cDefault">finalidad</span> del tratamiento es remitirle comunicaciones comerciales propias y, con su consentimiento, de
    <a href="/quienes-somos#section-27" class="bold">terceras empresas colaboradoras</a> de los sectores de actividad incluidos en nuestra política de privacidad.
    Si usted aceptó la instalacion de <a href="/quienes-somos#cookies-policy" class="bold">cookies publicitarias</a>, unicamente recibira publicidad personalizada de acuerdo con su perfil.
    Puede ejerecer sus <span class="bold cDefault">derechos</span> en materia de protección de datos contactando con nosostros.
    Para mas información acceda a la <a href="/quienes-somos#privacy-policy" class="bold">política de privacidad.</a>
    <span class="hide">/ <a class="bold textDeco" href="https://venca.es/sorteos-y-premios/663/especial-black-friday-suscribete-a-la-newsletter-y-consigue-500">Ver Bases</a> del sorteo de 500€ en looks de Venca.</span>
</p>
</div>



            </div>
        </div>
    </div>

</section>
 -->

</footer>