<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>

    <div class="container border shadow-lg  pt-3 pb-5">
        <div class="row">
            
            <div class="col-5  p-0 shadow text-center">
                <img src="../../../../assets/imgs/Maga.PNG" alt="" width="100%">
            </div>

            <div class="col ">

                 <div class="row ms-3 me-3 "> 
                    <h1 class="text-center mt-3 mb-3 "> Pociones de </h1>
                    
                    <div class="container rounded-3">
                        <div class="row categoriaCard border border-success mb-2 p-2 rounded-3" *ngFor="let Categoria of Categorias">
                        
                            <a [routerLink]="['/categorias_detail', Categoria.id]" > 
                               <div class="container border" style="display:flex"> 
                                    
                                        <div class="col-2 border   text-center">
                                        <img [src]="Categoria.urlimagen" alt="" >
                                        
                                    </div>
                                
                                    <div class="col-5 border  ">
                                        <div class="categoria"> Categoria {{Categoria.id}}  </div>  
                                   
                                    </div>    

                                    <div class="col-5 border" >
                                        
                                       <div *ngIf="Categoria.esEpica" [innerHTML]="Categoria.esEpica | epico"></div>                                      
                                       
                                    </div>
                                    
                                </div>
                                
                            </a>
                         
                        </div>
                    </div>
                   
                </div>     

                <!-- <div class="row ms-3 me-3 "> 
                    <h1 class="text-center mt-3 mb-3 "> Pociones de mana </h1>
                    
                    <div class="container rounded-3">
                        <div class="row pocionCard border border-success mb-2 p-2 rounded-3" *ngFor="let Pocion of Potions_mana">
                        
                            <div class="col-2   text-center">
                                <img [src]="Pocion.urlimagen" alt="" >
                            </div>
                            
                            <div class="col-10   ">
                                <div class="pocion_nombre"> {{Pocion.nombre}}</div>
                                <div class="pocion_descripcion">{{Pocion.descripcion}}</div>
                            </div>


                        </div>
                    </div>
                </div>  

                <div class="row ms-3 me-3 "> 
                    <h1 class="text-center mt-3 mb-3 "> Pociones de energia </h1>
                    
                    <div class="container rounded-3">
                        <div class="row pocionCard border border-success mb-2 p-2 rounded-3" *ngFor="let Pocion of Potions_energia">
                        
                            <div class="col-2   text-center">
                                <img [src]="Pocion.urlimagen" alt="" >
                            </div>
                            
                            <div class="col-10   ">
                                <div class="pocion_nombre"> {{Pocion.nombre}}</div>
                                <div class="pocion_descripcion">{{Pocion.descripcion}}</div>
                            </div>


                        </div>
                    </div>
                </div>   -->












            </div>

            





        </div>


    </div>








<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>    
</body>
</html>








