.modal {
    background: rgba(0,0,0,0.5);
}

.botones-pag{
    width: 100%;
    text-align: center;
    
}

.botones-pag button,
.botones-pag span {
    margin:10px;
}

.orden-columna{
cursor: pointer;
position: relative;
}
.orden-asc{
cursor: pointer;
position: relative;
}
.orden-desc{
cursor: pointer;
position: relative;
}


.orden-columna span::after{                 //ambos
    font-family: 'Material Icons';
    content: "\e5d7";
    position: absolute;
    top:22%;
}

.orden-asc span::after{                 //ambos
    font-family: 'Material Icons';
    content: "\e5c7";
    position: absolute;
    top:22%;
}

.orden-desc span::after{                 //ambos
    font-family: 'Material Icons';
    content: "\e5c5";
    position: absolute;
    top:22%;
}
