
<!-- <div class="container-fluid"> 

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container border">
          
        <a class="navbar-brand border" href="#">
              
              <img src="../../../assets/imgs/Logo3.png" width="90" height="30" class="d-inline-block align.top" alt="">
              
          
        </a>
      
        <div class="navbar-nav border"  id="navbarNav">
          <ul class="nav " >
          
            <li class="nav-item" >
              <a routerLink="" class="nav-link active" aria-current="page">Inicio</a>
            </li>

            <li class="nav-item">
              <a routerLink="/pociones" class="nav-link" >Pociones</a>
            </li>
            
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li class="nav-item">
                  <a routerLink="/admin/pociones" class="nav-link" >BackOffice</a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li class="nav-item">
                  <a routerLink="/admin/pociones-pag" class="nav-link" >Pociones Paginadas</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
    </div>
  </nav>
</div>
-->
<header>
 
  <div class="header__superior">
       <div class="logo">
           <img  src="../../../assets/imgs/Logo3.png" alt="">
       </div>
   
       <!-- <div class="search">
           <input type="search" placeholder="¿Que deseas buscar?">
       </div> -->
   </div>

   <div>
       <div id=""></div>
       <div id="tarjeta1"></div>
       <div id="tarjeta2"></div>
       <div id="tarjeta3"></div>
       <div id="tarjeta4"></div>
       <div id="tarjeta5"></div>
       <div id="tarjeta6"></div>
       <div id="tarjeta7"></div>
       <div id="tarjeta8"></div>
       <div id="tarjeta9"></div>
       <div id="tarjeta10"></div>
       <div id="tarjeta11"></div>
       <div id="tarjeta12"></div>
       <div id="tarjeta13"></div>
       <div id="tarjeta14"></div>
       <div id="tarjeta15"></div>
       <div id="tarjeta16"></div>
       <div id="tarjeta17"></div>
       <div id="tarjeta18"></div>
       <div id="tarjeta19"></div>
       <div id="tarjeta20"></div>
       <div id="tarjeta21"></div>
       <div id="tarjeta22"></div>
       <div id="tarjeta23"></div>
       <div id="tarjeta24"></div>
       <div id="tarjeta25"></div>
       <div id="tarjeta26"></div>
       <div id="tarjeta27"></div>
       <div id="tarjeta28"></div>
       <div id="tarjeta29"></div>
       <div id="tarjeta30"></div>
   </div>
   <div class="container__menu">

       <div class="menu">
           <nav>
               <ul>
                   <li><a href="#" id="selected">HOME</a></li>
                   <li><a href="#">BISUTERIA</a>

                       <ul>
                   
                           <li><a [routerLink]="['/items', 'COLGANTES']">Colgantes</a></li>
                           <li><a [routerLink]="['/items', 'PENDIENTES']">Pendientes</a></li>
                           <li><a [routerLink]="['/items', 'PULSERAS']">Pulseras</a></li>
                           <li><a [routerLink]="['/items', 'ANILLOS']">Anillos</a></li>
                           <li><a [routerLink]="['/items', 'TOBILLERAS']">Tobilleras</a></li>
                           
                       </ul>
                   </li>

                   <li><a href="#">ACCESORIOS</a>

                       <ul>
                   
                           <li><a href="#">Bolsos</a></li>
                           <li><a href="#">Mochilas</a></li>
                           <li><a href="#">Carteras</a></li>
                           <li><a href="#">Neceser</a></li>
                           <li><a href="#">Talegas</a></li>
                           <li><a href="#">Paños Bebe</a></li>
                           <li><a href="#">Cadenas de Gafas</a></li>
                           <li><a href="#">Llaveros / Cuelga-bolsos</a></li>
                           
   
                       </ul>
                   
                   </li>

                   <li><a href="#">CONOCENOS</a>
                   
                       <ul>
                           <li><a href="">Sobre Nosotros</a></li>
                           <li><a href="">Aviso Legal</a></li>
                           <li><a href="">Preguntas Frecuentes</a></li>
                           <li><a href="">Contacto</a></li>
                       </ul>
                   
                   </li>

                   <li><a href="#">PRODUCTOS</a>

                       <ul>

                           <li><a href="">Todos los productos</a></li>
                           <li><a href="">Ofertas de la Semana</a></li>
                           <li><a href="">Novedades</a></li>
                           <li><a href="">Mas vendidos</a></li>
                           <li><a href="">Productos Rebajados</a></li>

                       </ul>

                   </li>

                   <li><a href="#">PAGOS Y ENVIOS</a>
                   
                       <ul>

                           <li><a href="">Pago Seguro</a></li>
                           <li><a href="">Informacion de Envio</a></li>
                           <li><a href="">Politica de Devoluciones</a></li>

                       </ul>
                                           
                   </li>

                  <li><a href="#">MAS INFORMACION</a>
                       
                       <ul>
                          
                           <li><a href="">Blog de Bisuteria</a></li>
                           <li><a href="">Testimonios</a></li>
                           <li><a href="">Preguntas Frecuentes</a></li>
                           

                       </ul>
                   
                  </li>

                  <li><a href="#">BACK-END</a>
                       
                    <ul>
                       
                        <li> <a routerLink="/admin/categorias" class="nav-link" >Categorias</a></li>
                        <li> <a routerLink="/admin/items" class="nav-link" >Items</a></li>
                        <li> <a routerLink="/admin/usuarios" class="nav-link" >Usuarios</a></li>
                      
                    </ul>
                
                  </li>
               </ul>
           </nav>
       </div>
   </div>
</header>