<div class="container  mt-3">
    <h2>Listado de Categorias</h2>


    <div class="d-flex alert alert-success justify-content-center" role="alert" *ngIf="success">
        {{mensaje}}
    </div>

    <div class="alert alert-danger" role="alert" *ngIf="error">
        {{mensaje}}
    </div>

    <div class="d-flex justify-content-end">
        <a routerLink="/admin/categorias/nueva">
        <button class="btn btn-primary">Nueva Categoria</button>
        </a>
    </div>

    <div class="mt-3 d-flex alert alert-warning justify-content-center" role="alert" *ngIf="!categorias || categorias.length <= 0">
      No hay Categorias disponibles
  </div>
<!-- --------------------------------------------------------------------------------- -->
<div class="containerFiltros">

  <h1>Filtros</h1>

  <form> 
      <div class="row justify-content-between">

          <div class="form-group col-12 col-md-6">
              <label for="titulo">Categoria</label>
              <input type="text" class="form-control" id="titulo" [(ngModel)]="filtroTitulo" name="filtroTitulo">
          </div>


          <div class="col-12 col-md-3">
              <button id="btnBuscar" class="btn btn-secondary" (click)="buscar()">Buscar</button>
          </div>
      </div>
<!--  -->

  </form>
</div>

    <!-- --------------------------------------------------------------------------------- -->
    <table class="table table-striped " *ngIf="categorias && categorias.length > 0"> <!-- Si pociones minimal existe y su longitud es mayor que 0 -->
        <thead>
            <tr>
                <th class="Id">Id</th>
                <th class="Clase">Clase</th>
                <th class="Categoria">Categoria</th>
                <th class="Imagen">Imagen</th>
                <th class="Acciones ">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of categorias">
                <td>{{p.id}}</td>
                <td>{{p.titulo}}</td>
                <td>{{p.categoria}}</td>
                <td><img class="itemImage" src="{{p.imagenTipo}},{{p.imagen}}" /></td>
                <td class="Acciones ">
                    <a class=" " [routerLink]="['/admin/categorias/editar',p.id]">
                        <button class="btn btn-secondary">Editar</button>
                    </a>
                            
                    <button class="m-1 btn btn-danger" (click)="abrirModalEliminar(p.id)" >Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
                                                   
    <div class="botoneraPaginacion d-flex justify-content-around ">
      <button [disabled]="first" class="btn btn-secondary btnAtras" (click)="navegarAnterior()">Anterior</button>
      <span>Pagina {{(page+1)}} de {{totalPages}} - Elementos totales: {{totalElements}}</span>
      <button [disabled]="last" class="btn btn-secondary btnSiguiente" (click)="navegarSiguiente()">Siguiente</button>
    </div>


</div>
<!-- Modal -->

<div class="modal" id="exampleModal" [ngStyle]="{'display': display}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Confirmacion de borrado</h5>
          <button type="button" class="close" (click)="cerrarModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ¿Estas Seguro que deseas eliminar la Categoria {{categoriaAEliminar}}?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary"(click)="cerrarModal()" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary"(click)="eliminar(categoriaAEliminar)">Aceptar</button>
        </div>
      </div>
    </div>
  </div>