.btn-primary:disabled{

    background-color:silver;    
    border: 2px solid silver;

}
.itemImage {
    display: block;
    width: 60px;
    height: 60px;
}
#favorito {
    display: block;
    width: 20px;
    height: 20px;
}